<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启注解 -->
    <context:annotation-config />
    <!-- 在包中扫描，如果有注解就可以一次性托管 -->
    <context:component-scan base-package="com.zxf.my.shop.web.admin">
        <!-- 配置不扫描控制器，控制器由MVC来扫描 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- springContext -->
    <!--<bean id="springContext" class="com.zxf.my.shop.commons.context.SpringContext"/>-->
    <!-- DAO -->
    <!--<bean id="userDao" class="com.zxf.my.shop.dao.impl.UserDaoImpl"/>-->

    <!-- Service -->
    <!--<bean id="userService" class="com.zxf.my.shop.service.impl.UserServiceImpl"/>-->

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
    <bean id="beanValidator" class="com.zxf.my.shop.commons.validator.BeanValidator">
        <property name="validator" ref="validator" />
    </bean>
</beans>